
<main class="main">
  <div class="content animate__animated animate__fadeInDownBig" *ngIf="!isLogeado">
    <h1 class="login">LOGIN</h1>
    <p>
      <label>Usuario:
        <input type="text" name="nUsuario" class="input-group flex-nowrap" [(ngModel)]="user" />
      </label>
    </p>
    <p>
      <label>Password:
        <input type="password" name="nPass" class="input-group flex-nowrap" [(ngModel)]="pass" />
      </label>
    </p>
    <p>
      <input type="button" name="nSubmit" class="btn btn-light btn-sm" value="Aceptar" (click)="Validar()" />
    </p>
  </div>
</main>
<router-outlet *ngIf="isLogeado"></router-outlet>